@model PagedResult<KooliProjekt.Data.HealthData>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                User
            </th>
            <th>
                Date
            </th>
            <th>
                BloodSugar
            </th>
            <th>
                Weight
            </th>
            <th>
                BloodAir
            </th>
            <th>
                Systolic
            </th>
            <th>
                Diastolic
            </th>
            <th>
                Pulse
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Results)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BloodSugar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BloodAir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Systolic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diastolic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pulse)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
