@model PagedResult<KooliProjekt.Data.Amount>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                NutrientsID
            </th>
            <th>
                AmountDate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Results) 
 {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NutrientsID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AmountID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AmountID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AmountID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@(await Component.InvokeAsync<PagerViewComponent>(Model))